*{
	box-sizing: border-box;
	text-align: center;
} 
*
#body{
	background-color: #4aaaa5;
	padding: 20px;
	margin-bottom: 20px;
	color: white;
	float: top;
	font-family: font-family: 'Georgia', Times, Times New Roman, serif;
	width: 33.3%;
	align-content: center;
}
#header{
	background-color: #4aaaa5;
	padding: 20px;
	margin-bottom: 20px;
	color: white;
	float: top;
	font-family: font-family: 'Georgia', Times, Times New Roman, serif;
	width: 33.3%;
	align-content: center;

}

#name {
	background: #4aaaa5;
	padding: 20px;
	margin-bottom: 20px;
	color: white;
	float: top;
	font-family: font-family: 'Georgia', Times, Times New Roman, serif;
	width: 33.3%;
	align-content: center;

}
#class{
	background: #4aaaa5;
	padding: 20px;
	margin-bottom: 20px;
	color: white;
	float: top;
	font-family: font-family: 'Georgia', Times, Times New Roman, serif;
	width: 33.3%;
}